.mgbt{
    margin-bottom: 2%;
}
.card-title{
    margin-bottom: 2%;
}

.textheading{
    color: #187AAB;
}

.btn{
    background-color: #187AAB;
}


.p{
    text-align: justify!important;
}

.card-text:last-child {
    margin-bottom: 0;
    color: #187AAB;
}


.carousel-caption {
    position: absolute;
    bottom: 0;
    background: white; /* Fallback color */
    background: white; /* Black background with 0.5 opacity */
    opacity: 80%;
    text-align: center;
}

h2, p1  {
    color: #187AAB;
    font-size: 2rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
    background-color: red;
}